* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
  margin: 0;
}

a {
  color: #0275d8;
  text-decoration: none;
  cursor: pointer;
}

.a-inline {
  margin-left: 5px;
  margin-right: 5px;
}

.success {
  color: green;
}

input[type='textbox'] {
  font-size: 14px;
  padding: 8px;
}

button {
  padding: 8px;
  font-size: 14px;
  border-radius: 3px;
  border-style: solid;
  cursor: pointer;
}