* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    padding: 10px
}

.a-inline {
  margin-left: 5px;
  margin-right: 5px;
}

.success {
  color: green
}